
.name {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 6em;
    color: #333;
}

.links {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
}

a {
    color: #888;
    text-decoration: none;
}

a:hover {
    color: #666;
    text-decoration: none;
}
