

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.intro {
  top: 0;
  position: fixed;
  background-color: #1976d2;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 13px 0;
  height: 50px;
  width: 100%;
}

.front-full-page {
  height: 100vh;
  background: url('../img/desk-laptop3.jpg') no-repeat center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.front-full-page {
  font-size: 3rem;
}


@media screen and (min-width: 1400px) {
  .jumbotron {
    padding: 48px 0;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

.section-heading {
    display: inline-block;
    font-size: 50px;
    font-weight: 100;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.first-part {
  font-size: 16px;
}
